:root {
    --primary-color:#F0F0F0;
    --secondary-color:  #050038;
    --small-text-color:#140f4e ;
    --border:.7px solid  #050038;
    --border-nav: .7px solid #F0F0F0;
    --Button-bg-color:#4262FF;
    --button-bg-nav-color:#ababab;
    --border-radius:30px;
    --dim-text-color:#6c6c83;
    --link-color: #4262FF;
    --backdrop-filter:blur( #05003883);


}
body{
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: 0 0 0 1px red; */
}

