.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
}
.logo-side{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.nav-section .toggle-bar{
    display: flex;
     gap: .3rem;
    flex-direction: column;
    padding: .9rem 0;
}
.nav-section .toggle-bar .line{
    height: 4px;
    width: 43px;
  background-color: var(--primary-color);
}
.logo-side .logo{
    font-weight: bolder;
    font-size: 2rem;
    padding: .9rem 0;
    font-style: italic;
}
.links{
    display: flex;
    gap: 1rem;
}
.links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;

}
.links  li {
    list-style: none;
}
 .fa-chevron-down{
    margin-left: .2rem;
    color: var(--primary-color);  
    font-size: .6rem;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: .6rem;
}
.search-bar .search input{
    padding: .4rem .3rem;
    border: none;
    width: 300px;
    
}
.search-bar .search i{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .35rem 1rem .45rem 1rem;
}
.search-bar .mic{
    margin-right: 1rem;
    padding: .5rem; 
   background-color: var(--primary-color);
   color: var(--secondary-color);
    border-radius: 100%;


}