:root {
    --primary-color:#F0F0F0;
    --secondary-color:  #050038;
    --small-text-color:#140f4e ;
    --border:.7px solid  #050038;
    --border-nav: .7px solid #F0F0F0;
    --Button-bg-color:#4262FF;
    --button-bg-nav-color:#ababab;
    --border-radius:30px;
    --dim-text-color:#6c6c83;
    --link-color: #4262FF;
    --backdrop-filter:blur( #05003883);


}
body{
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      /* box-shadow: 0 0 0 1px red;   */
}
.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: .3px solid rgb(248, 240, 240); 
    background-color: var(--secondary-color);
    color: var(--primary-color);
    /* backdrop-filter: blur(10px); */

}
.nav-section .left-section{
    display: flex;
    align-items: center;
    
}
.nav-section .left-section .logo h1{
    font-style: italic;
    margin-left: 1rem;
    color: var(--primary-color);
    
}
.nav-section .right-section .links{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    
}
.nav-section .right-section .links li,
.main--container .sub-container .text-section li{
    list-style: none;
}
.nav-section .right-section .links a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
   color: var(--primary-color);
   border: var(--border-nav);
   padding: .5rem 1rem;
   border-radius: var(--border-radius);
   cursor: pointer;

    
}
.nav-section .right-section .links a:hover{
    background-color: whitesmoke;
    color: black;
    transition: 240ms;
}
.main--container {
    display: flex;
    height: 700px;
    width: 800px;
   border: var(--border);
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;


}
.main--container .left-section-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: whitesmoke;
}
.main--container .left-section-form h1{
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    color: var(--secondary-color);
    margin-left: 2.5rem;
}
.main--container .left-section-form b{
    font-size: 1rem;
    text-align: justify;
    color: var(--small-text-color);
    margin-left: 1rem;
   
}
.left-section-form .form .box{
    padding: .5rem ;
    width: 85%;
    border: none;
    border-bottom:1px solid var(--small-text-color) ;
    margin-bottom: 1rem;
    margin-left: 1rem;
    outline: none;
    background-color: whitesmoke;
    color: var(--secondary-color); 
}
.main--container .right-section-form{
    display: flex;
    flex-direction: column;
    background-color: var(--small-text-color);
    width: 50%;
   
    
}

.main--container .right-section-form b{
    font-size: 1rem;
    text-align: justify;
    color: var(--primary-color);
    margin-left: 2rem; 
   
}
.main--container .right-section-form h3{
    margin: 1rem 0 2rem 3rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 2.5rem;
}
.right-section-form  .box{
    padding: .5rem ;
    width: 85%;
    border: none;
    border-bottom:1px solid var(--primary-color) ;
    margin-bottom: 1rem;
    margin-left: 2rem;
    outline: none;
    background-color: var(--small-text-color);
    color: var(--primary-color);
     }
     

     .box-end{
        display: flex;
        align-items: center;
        margin-top: 2rem;
     }
     .box-end .tick{
        margin-right: .5rem;
        margin-left: .5rem;
     }
      .right-section-form .check { 
        color: var(--primary-color);
        font-size: 1rem;
        
     }
     .right-section-form .check a{
        color: var(--link-color);

     }
     .right-section-form .check a:hover{
       color: rgb(34, 34, 244);
       transition: 100ms;
     }
      .button{
        margin: 2rem 0 0 8.5rem;
        padding: .7rem 1rem;
        border: var(--border-nav);
        border-radius: var(--border-radius);
        color: var(--secondary-color);
        font-weight: 600;
      }
      .button:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
      }